/* -------------------------------------------- *
 * Breadcrumbs
 -------------------------------------------- */

.breadcrumbs {
    padding: 60px 0;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    background: url(../images/backgrounds/bg-breadcrumb.jpg) center center no-repeat;
    background-size: cover !important;

    li {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        font-family: $f-stack-special;
        @include setTypography($f-size-s, $c-black, 400, uppercase);
    }

    a {
        float: left;
    }

    strong {
        color: $c-action;
        font-weight: normal;
    }

    span {
        float: left;
        padding: 0 7px;
    }
}
