/* ============================================ *
 * Global Components
 * ============================================ */

/* -------------------------------------------- *
* Product Actions  ( Add to link )
* -------------------------------------------- */

.add-to-links {
    a {
        display: inline-block;
    }
}


.address-list address {
    margin-bottom: 1em;
}


/* -------------------------------------------- *
*   Page Title
* -------------------------------------------- */

.page-title, .category-title {
    margin-bottom: 30px;
}

/* -------------------------------------------- *
* Product availability
* -------------------------------------------- */

.screen-readers{ 
    @include screen-readers;
}

.availability {
    margin-bottom: 0;
    font-size: $f-size-s;
    text-transform: uppercase;
}

.availability.in-stock {
    color: $c-success;
}

.availability.available-soon,
.availability.out-of-stock {

    span {
        text-align: center;
        padding: 10px 15px;
        display: inline-block;
        background-color: $c-danger;

        @include setProperty(border-radius, $default-border-radius);
        @include setTypography(14px, $c-white, normal, uppercase);
    }

    // width: 125px;
    // padding: 8px 12px;
    // text-align: center;
    // display: inline-block;
    // background-color: $c-danger;
}

.availability-only {
    // color: $c-danger;
    // margin-bottom: $box-spacing;
}

/* -------------------------------------------- *
 * Loading Indicator ( Please Wait )
-------------------------------------------- */

.please-wait {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    img {
        float: left;
        margin-right: 5px;
        width: 24px;

        // Actual image is 48px, thereby supporting hi-res screens
   
    }
}

/* -------------------------------------------- *
 * Page Popup
 -------------------------------------------- */

.page-popup {
    padding: 20px;
    background: #FFFFFF;
    height: auto;
}

.page-popup h1 {
    margin: 0 0 0.5em;
    font-size: 36px;
}

/* -------------------------------------------- *
 * Checkout Agreements
 -------------------------------------------- */

.checkout-agreements li {
    margin-bottom: 20px;
}

.checkout-agreements .agreement-content {
    overflow-y: auto;
    max-width: 670px;
    max-height: 125px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $c-module-border;
    background: $c-module-background;
}

/* -------------------------------------------- *
 * CVV Security Code
 -------------------------------------------- */

.cvv-what-is-this {
    margin-left: 10px;
    font-size: $f-size-s;
    line-height: 24px;
}

/* -------------------------------------------- *
 * Tier Prices
 -------------------------------------------- */

.product-pricing,
.tier-prices,
.tier-prices-grouped {
    display: inline-block;
    padding: 4px 8px;
    background: #FBF4DE;
    border: 1px solid #E2D4C7;
    margin-top: $element-spacing;

    li {
        font-size: $f-size-xs;
    }

    .benefit {
        font-style: italic;
    }

    .price {
        font-weight: bold;
    }
}

/* ============================================ *
 * Item Options
 * ============================================ */

.item-options {
    display: none;
    
    // font-family: $f-stack-special;

    @include setTypography($f-size, $c-black);

    &:after {
        @include clearfix;
    }

    dt {
        float: left;
        clear: left;
        font-weight: 600;
        padding-right: 5px;
        font-style: italic;

        &:after {
            content: ': ';
        }
    }

    dd {
        float: left;
        padding-left: 10px;

        &:not(:last-child){
            margin: 0 0 5px;
        }
    }
}

.truncated,
.truncated a.dots {
    cursor: help;
}

.truncated a.details {
    cursor: help;
    height: 16px;
    line-height: 16px;

    &:hover {
        text-decoration: none;
    }
}

.truncated .truncated_full_value {
    position: relative;
    z-index: 300;
}

.truncated .truncated_full_value .item-options {
    display: none;
    z-index: 300;
    width: 200px;
    padding: 10px;
    background-color: #FBFBFB;

    @include dgClearfix;
    @include setProperty( box-shadow, 0px 0px 10px rgba(48, 50, 50, 0.2) );

    @include bp(min-width, $screen-sm + 1) {
        top: 21px;
        left: -100px;
        position: absolute;
    }
}

.truncated .truncated_full_value .item-options > p {
    line-height: 15px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid $c-module-border-secondary;

    @include ellipsis();
    @include setTypography($f-size-xs, $c-black, normal, uppercase);
}

.truncated .show .item-options {
    display: block;
}

// @include bp(max-width, $screen-xs) {
//     .truncated {
//         cursor: inherit;

//         a.details {
//             display: none;
//         }

//         .truncated_full_value {
//             .item-options {
//                 display: block;
//                 position: static;
//                 z-index: 1;
//                 width: 100%;
//                 border: none;
//                 background-color: transparent;

//                 p {
//                     float: none;
//                 }

//                 &:after {
//                     display: none;
//                 }
//             }
//         }
//     }
// }


// $toolbar-icon-padding-offset: 8px;

/* ============================================ *
 * Tax - Full Tax Summary
 * ============================================ */

#checkout-review-table,
#shopping-cart-totals-table,
body.customer-account .data-table {
    .summary-collapse {
        position: relative;
        cursor: pointer;

        &:before {
            @include triangle(down, 7px, $c-blue);

            position: static;
            display: inline-block;
            margin-right: 5px;
        }

        &:hover:before {
            @include triangle(down, 7px, $c-secondary);

            position: static;
            display: inline-block;
            margin-right: 5px;
        }
    }

    .show-details {
        .summary-collapse {
            &:before {
                @include triangle(up, 7px, $c-blue);

                position: static;
                display: inline-block;
                margin-right: 5px;
            }

            &:hover:before {
                @include triangle(up, 7px, $c-secondary);

                position: static;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

// Center the arrow, as the font is larger in tfoot
#shopping-cart-totals-table tfoot td .summary-collapse {
    &:before,
    &:hover:before {
        margin-bottom: 5px;
    }
}