/* -------------------------------------------- *
 * Icons
-------------------------------------------- */

.dg-icon {
    background-image: url(../images/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &.icon {
        &-widget-truck {
            background-position: -11px -67px;
            width: 44px;
            height: 32px;
        }

        &-widget-payment {
            background-position: -62px -126px;
            width: 39px;
            height: 26px;
        }

        &-widget-pin {
            background-position: -14px -114px;
            width: 38px;
            height: 38px;
        }

        &-widget-secure {
            background-position: -18px -11px;
            width: 30px;
            height: 40px;
        }

        &-shopping-cart {
            background-position: -75px -11px;
            width: 18px;
            height: 26px;
        }

        &-search {
            background-position: -75px -45px;
            width: 16px;
            height: 16px;
        }
    }
}

.dg-icon-payment-methods {
    background-image: url(../images/icons/spritesheet-payment-methods.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &.american-express {
        background-position: -7px -349px;
        width: 43px;
        height: 41px;
    }

    &.elo {
        background-position: -7px -298px;
        width: 43px;
        height: 41px;
    }

    &.visa {
        background-position: -7px -274px;
        width: 50px;
        height: 16px;
    }

    &.aura {
        background-position: -8px -231px;
        width: 50px;
        height: 33px;
    }

    &.dinners-club {
        background-position: -7px -186px;
        width: 50px;
        height: 34px;
    }

    &.master-card {
        background-position: -7px -150px;
        width: 50px;
        height: 31px;
    }

    &.bndes {
        background-position: -8px -106px;
        width: 82px;
        height: 36px;
    }

    &.boleto {
        background-position: -11px -55px;
        width: 60px;
        height: 37px;
    }

    &.deposito {
        background-position: -7px -8px;
        width: 67px;
        height: 34px;
    }

    &.hipercard {
        background-position: -6px -404px;
        width: 89px;
        height: 39px;
    }
}