/* -------------------------------------------- *
 * Messages
 -------------------------------------------- */

.success {
    color: $c-success;
}

.error {
    color: $c-danger;
}

.notice {
    color: $c-warn;
}

/* -------------------------------------------- *
 * Messages
-------------------------------------------- */

.messages {
    margin-bottom: 30px;

    li {
        li {
            border: {
                width: 1px;
                style: solid;
            };
            position: relative;
            padding: 10px 10px 10px 15px;

            &:before {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }

    .error-msg {
        li {
            color: $c-danger;
            background-color: $c-danger-background;
            border-color: darken($c-danger-background, 10%);

            &:before {
                content: "\E5C9";
                color: $c-danger;
                font-family: 'Material Icons';
            }
        }

        li + li {
            margin-top: 2px;
        }
    }

    .success-msg {
        li {
            color: $c-success;
            background-color: $c-success-background;
            border-color: darken($c-success-background, 10%);

            &:before {
                content: "\E876";
                color: $c-success;
                font-family: 'Material Icons';
            }
        }
    }

    .notice-msg {
        li {
            color: $c-warn;
            background-color: $c-warn-background;
            border-color: darken($c-warn-background, 10%);

            &:before {
                content: "\E001";
                color: $c-warn;
                font-family: 'Material Icons';
            }
        }
    }
}

@include bp(max-width, $screen-sm) {
    .messages {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        position: fixed;

        li {
            &.success-msg {
                li {
                    &:after {
                        border-color: $c-success;
                    }
                }
            }

            &.error-msg {
                li {
                    &:after {
                        border-color: $c-danger;
                    }
                }
            }

            li {
                padding: 20px;

                @include setFontSize(16px);

                &:before {
                    margin-top: calc(-22px/2);

                    @include setFontSize(22px);
                }

                &:after {
                    right: -2px;
                    width: 102%;
                    float: right;
                    padding: 5px;
                    bottom: -23px;
                    position: absolute;
                    text-align: center;

                    @include setFontSize(12px);

                    border: 1px solid $c-black;
                    content: "Toque para fechar";
                    background-color: rgba($c-white, 0.95);
                }
            }
        }
    }
}


/* -------------------------------------------- *
 * Global Site Notice
 -------------------------------------------- */

.global-site-notice {
    color: #E6E6E6;
    font-size: $f-size-xxs;
    background-color: #676157;

    .notice-inner {
        padding-left: 120px;
        width: 100%;
        max-width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
        line-height: $f-size-xxs;
        min-height: 40px;
        padding-top: (40px - $f-size-xxs) / 2;
        padding-bottom: (40px - $f-size-xxs) / 2;
        background-image: url("../images/demo-logo.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    p {
        margin-bottom: 0;
    }
}

/* -------------------------------------------- *
 * Global Site Notice
 -------------------------------------------- */

.note-msg {
    padding: 15px;
    color: $c-white;
    text-align: center;
    background-color: $c-black;
}