.pager {
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $c-gray-ultra-light;

    @include dgClearfix;

    // & > .count-container {
    //     float: left;
    // }

    .amount {
        float: left;
        padding: 10px 0;

        > strong {
            font-weight: normal;
        }
    }

    .limiter {
        float: right;
        display: table;

        & > label {
            padding-right: 5px;

            @include centerContent;

            &:after {
                content: ':';
            }
        }
    }
}

.pages {
    float: right;
    overflow: hidden;
    margin-left: 15px;

    strong {
        display: none;
    }
}

.pages {
    li {
        float: left;
        margin-right: 5px;
    }

    a,
    .current {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        border: 1px solid transparent;

        // color: $c-action;
        // font-family: $f-stack-sans;

        @include setProperty(border-radius, 60px);
        @include setTypography($f-size-s, $c-text);

        &:hover {
            border-color: $c-action;
        }
    }

    .current {
        cursor: default;
        color: $c-action;
        border-color: $c-action;
    }
}

.pages .current,
.pages .current:hover {
    // color: $c-text;
    // border: 1px solid $c-module-border;
    // width: 30px;
    // background-color: #FFFFFF;
    // cursor: default;
}

.pages .next,
.pages .previous {
    // New HP5BP technique: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7
    font: 0/0 a;
    position: relative;

    &:hover {
        border: 1px solid $c-action;
    }

    // text-shadow: none;
    // color: transparent;
    // background-color: transparent;
    // position: relative;
}

.pages .next {
    &:before {
        top: 50%;
        content: "\f105";
        position: absolute;
        font-family: "fontAwesome";

        @include setFontSize(14px);
        // @include absoluteAlignment(0, 6px);

        // @include triangle(right, 4px, $c-action);
        // top: 50%;
        // margin-top: -3px;
        // left: 50%;
        // margin-left: -2px;
   
    }

    &:hover:before {
        // @include triangle(right, 4px, $c-stimulus);
   
    }
}

.pages .previous {
    &:before {
        content: "\f104";
        font-family: "fontAwesome";

        // @include triangle(left, 4px, $c-action);
        // top: 50%;
        // margin-top: -3px;
        // left: 50%;
        // margin-left: -2px;
   
    }

    &:hover:before {
        // @include triangle(left, 4px, $c-stimulus);
   
    }
}

@include bp(max-width, $screen-xs) {
    // Only hide the "amount" element if page has pagination AND is inside of toolbar (since we only want it hiding on product listing)
    // Otherwise show the amount since there is plenty of space
    .pager .amount--has-pages {
        display: none;
    }

    .pages {
        float: left;
    }

    // When there are 5+ pages, it is important to hide this label in order to not break to three lines
    .limiter label {
        display: none;
    }
}