/* -------------------------------------------- *
 * Ratings
-------------------------------------------- */

.rating-box,
.rating-box .rating,
.ratings-table .rating-box,
.ratings-table .rating-box .rating {
    height: 14px;
    background: {
        repeat: repeat-x;
        image: url(../images/icons/rating-stars.png);
    };
}

.rating-box,
.ratings-table .rating-box {
    width: 90px;
    background-position: 0 0;
}

.rating-box .rating,
.ratings-table .rating-box .rating {
    background-position: 0 100%;
}

.ratings {
    margin-bottom: 15px;

    .rating-box,
    .rating-links {
        margin: 5px 0;
    }

    .rating-box {
        

        // height: 14px;
        overflow: hidden;

        // background-position: 0 0;

        // width: 65px;
        // height: 13px;
        // background-repeat: repeat-x;
        // background-position: 0 -615px;
        // overflow: hidden;
   
    }

    .rating-box .rating {
        // height: 14px;

        // background-position: 0 100%;

        // float: left;
        // height: 13px;
        // background-repeat: repeat-x;
        // background-position: 0 -600px;
   
    }

    .amount {
        display: block;
        margin: 5px auto;
    }

    .rating-links {
        .separator {
            margin: 0 3px;
        }
    }
}