.sorter {
    @include dgClearfix;

    label {
        padding-right: 5px;

        @include centerContent;

        &:after {
            content: ':';
        }
    }

    & > .sort-by {
        float: right;
        display: table;
        padding-right: 5px;

        .sort-by-switcher {
            &--asc,
            &--desc {
                width: 20px;
                overflow: hidden;
                margin-left: 15px;
                white-space: nowrap;
                display: inline-block;

                &:before {
                    top: 3px;
                    font-size: 20px;
                    position: relative;
                    font-family: "Material Icons";

                    @include setProperty(transition, color 0.3s);
                }

                &:hover {
                    &:before {
                        color: $c-link-hover;
                    }
                }
            }
        }

        .sort-by-switcher--asc {
            &:before {
                content: "\E5D8";
            }
        }

        .sort-by-switcher--desc {
            &:before {
                content: "\E5DB";
            }
        }
    }

    & > .view-mode {
        float: left;
        display: table;
        padding: 9px 0;

        .grid,
        .list {
            float: left;
            width: 17px;
            height: 16px;
            overflow: hidden;
            text-indent: -999px;
            background-image: url(../images/icons/grid-list.gif);
            background-repeat: no-repeat;

            @include setProperty(transition, all 0.3s);
        }

        .grid {
            margin-right: 10px;
            background-position: left top;
        }

        strong.grid,
        .grid:hover {
            background-position: left bottom;
        }

        .list {
            background-position: right top;
        }

        strong.list,
        a.list:hover {
            background-position: right bottom;
        }
    }
}