/* -------------------------------------------- *
 * Toolbar
 * -------------------------------------------- */

.toolbar {
    margin-bottom: 30px;

    @include dgClearfix;

    select {
        background-color: lighten($c-gray-ultra-light, 2.5%);
        border-color: lighten($c-gray-ultra-light, 2.5%);
    }
}

.pager-no-toolbar {
    margin-bottom: 10px;
}

// This will apply to the bottom toolbar

.pager-no-toolbar ~ .pager-no-toolbar {
    margin-top: 10px;
}

.toolbar,
.pager {
    @include setTypography(13px, $c-text, normal);
}

.toolbar label,
.pager-no-toolbar label {
    font-weight: normal;
}