// This mixin gets applied to elements that are only buttons on smartphones (or sometimes tablets), such as layered
// nav links or checkbox labels.
// Building this as a mixin (rather than an extendable class) since it will be included within mq breakpoints, and
// extending doesn't work within media queries: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_in_directives

@mixin touch-button {
    color: $c-text;
    padding: 5px 10px;
    background-color: $c-white;
    border: 1px solid $c-module-border-light;
    @include setProperty(transition, border-color .3s);

    &:hover {
        border-color: $c-module-border-dark;
    }
}