.cms-no-route .std {
	.page-404 {
		padding: 85px 0;
		text-align: center;

		@include dgClearfix;

		.bg-404 {
			height: 460px;
			background: url(../images/backgrounds/404.png) center center no-repeat;
		}

		.section-title {
			line-height: 1.2;
			@include setTypography(128px, desaturate($c-secondary, 5%), 900 !important);
		}

		.section-subtitle {
			@include setTypography(18px, $c-black !important, 700);
		}

		p {
			line-height: 28px;
			@include setTypography(16px, $c-text, 400);
		}

		button {
			margin-top: 20px;
		}
	}
}

