// ---------------------------------------------
// Newsletter
// ---------------------------------------------

.newsletter-block {
    .newsletter-form {
        .input-box {
            width: 70%;
            float: left;
            height: 44px;
            margin-right: 3.5%;
        }

        .button {
            height: 44px;
            width: 26.5%;
            letter-spacing: -.5px;
        }
    }
}