.action-links {
    display: table;

    @include dgClearfix;

    .blocklist {
        > li {
            padding-left: 25px;
            display: table-cell;
            vertical-align: middle;

            &:hover {
                a {
                    opacity: .7;
                }
            }
        }
    }
}