.dg-fixed-cart {
    right: 0;
    top: 45%;
    z-index: 9;
    display: block;
    position: fixed;

    &.header-minicart {
        @include bp(max-width, $screen-sm) {
            display: none;
        }
    }

    .minicart-wrapper {
        @include setProperty(box-shadow, 0 0px 21px rgba(0, 0, 0, 0.11));
    }

    .skip-cart {
        width: 80px;
        height: 80px;
        display: table;
        text-align: center;
        background-color: $c-secondary;

        .fa-shopping-cart {
            content: "\f07a";

            @include centerContent;

            font-family: "fontAwesome";

            @include setTypography(67px, $c-white);
        }

        .count {
            top: 23px;
            left: 20px;
            position: absolute;
            text-decoration: none;

            @include setTypography(22px, $c-black);

            &:before,
            &:after {
                display: none;
            }
        }

        .cart-items {
            text-align: center;
            position: absolute;

            @include absoluteAlignment(20px, 20px);
            @include setTypography(20px, $c-black);
        }
    }

    .header-cart {
        right: 0;
        min-width: 280px;
        position: absolute;
    }

    .skip-link-close {
        display: none;
    }

    .mini-products-list {
        .product-details {
            width: 75%;
        }

        .cart-item-actions {
            top: 0;
            right: 0;
            position: absolute;
        }

        .qty-wrapper {
            display: none;
        }
    }
}
