// .product-image,
// .no-touch .product-img-box .product-image:not(.zoom-available):hover {
//     position: relative;
//     display: block;
//     border: 1px solid $c-module-border-light;
// }

// @include bp(max-width, $screen-sm) {
//     body .product-img-box .product-image:hover {
//         border-color: $c-module-border-light;
//     }
// }


// .no-touch .product-image:hover {
//     border-color: $c-module-border-highlight;
// }