<?php

	$_bg = $this->getLayout()->createBlock('cms/block')->setBlockId('widget_call_action_background')->toHtml();
	$_oHtml = $this->getLayout()->createBlock('cms/block')->setBlockId('widget_call_action')->toHtml();

	$_bg = str_replace('<img src="', '', $_bg);
	$_bg = str_replace('" />', '', $_bg);
	$_bg = str_replace('<p>', '', $_bg);
	$_bg = str_replace('</p>', '', $_bg);
	
	$_cHtml = str_replace('class="widget-buy-action"', 'class="widget-buy-action" style="background-image: url(' . $_bg . ') "', $_oHtml);

	echo $_cHtml;

?>