.action-payment-secundary {
    margin: 15px 0px;
}

img.img-thumbnail {
    float: left;
    margin-right: 10px;
}

span.line-address {
    float: left;
    clear: both;
}

span.h4.address-title {
    float: left;
    width: 100%;
    margin: 0;
}

span.line-address {
    float: left;
    clear: both;
    width: 100%;
}

#multiship-addresses-table, #checkout-review-table {
    display: table;
}

.data-table tfoot tr.first td {
    border: 0;
    padding: 0 10px;
}

td.last {
    text-align: right;
}

span.icon-success-page {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 65px;
}

.block-content .h3 {
    margin-bottom: 5px;
    margin-top: 10px !important;
}

input#barcode-line {
    cursor: pointer;
    background: #fff;
    text-align: center;
}

#info-payment-top {
    text-align: center;
}

/* Degrau Styles */

#info-payment-top {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #e4e4e4;
}

#info-payment-top .h1,
#info-payment-top .h2,
#info-payment-top .h3 {
    text-transform: uppercase;
}

#info-payment-top .h3 {
    margin-bottom: 20px;
    line-height: 32px;
}

.action-payment-secundary {
    margin: 30px 0px;
}

.action-payment-secundary .btn-checkout {
    font-size: 18px;
    padding: 15px;
    max-width: 320px;
    width: 100%;
}