<?php
$bannerCollection = Mage::getModel('bannerpro/bannerpro')->getCollection()->addStoreFilter(Mage::app()->getStore()->getStoreId())->addFieldToFilter('status','1');

$configData = Mage::getStoreConfig('bannerpro');

if($configData['settings']['time_delay'] != null) {
	$timeDelay = $configData['settings']['time_delay'];
}else {
	$timeDelay = 5000;
}

$i = 1;
?>

<div class="dg-carousel-wrapper">
	<div class="owl-carousel owl-theme home-carousel">
		<?php 
			foreach ($bannerCollection as $banner):
		?>
			<div  class="item-banner" data-animate="<?php echo $banner->getEffects(); ?> animated">
				<a href="<?php echo $banner->getWeblink() ?>" title="<?php echo $banner->getTitle() ?>">
					<img title="<?php echo $banner->getTitle() ?>" alt="<?php echo $banner->getTitle() ?>" data-src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $banner->getFilename() ?>" width="100%" />
				</a>
				<?php if ( $banner->getText() != ""):?>
					<div class="banner-content">
						<!-- <div class="content-wrapper" data-animate="<?php echo $banner->getEffects(); ?> animated"> -->
							<?php echo $banner->getText() ?>

							<?php if( $banner->getWeblink() != "" ): ?>
								<div class="banner-actions">
									<a class="button btn-call" href="<?php echo $banner->getWeblink() ?>"  title="<?php echo $banner->getTitle() ?>"><?php echo $this->__('Add to cart'); ?></a>
								</div>
							<?php endif; ?>
						<!-- </div> -->
					</div>
				<?php endif; ?>
			</div>
		<?php $i++; endforeach; ?>
		</div>
	</div>

<script type="text/javascript">
// <![CDATA[

	(function($){
		$('.home-carousel').owlCarousel({
			items: 1,
			nav: true,
			loop: true,
			autoplay: true,
			navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
			autoplayTimeout: <?php echo $timeDelay ?>,
			center: true,	
			autoplayHoverPause: true,
			dots: false,
			onTranslated: animateSlide,
  			onTranslate: removeAnimation
		});

		function removeAnimation() {
		   	var item = $(".owl-item");
		  	item.removeClass(item.children().data('animate'));
		}

		function animateSlide() {
		  	var item = $(".owl-item.active");
		  	item.addClass(item.children().data('animate'));
		}
	})(jQuery);
</script>