/* -------------------------------------------- *
 * Container
 -------------------------------------------- */

.main-container,
.footer-container {
    @include dgClearfix;
}

.main-container {
    padding-bottom: 75px;
}

@include bp(max-width, $screen-xs + 1) {
    .main-container {
        padding: 35px 0;
    }
}


.footer-container {
    // padding-top: 0px;
}

/* -------------------------------------------- *
 * Column Layouts
 -------------------------------------------- */

.main,
.col-wrapper {
    @include dgClearfix;
}



.col2-left-layout {
    .col-main {
        float: right;
        // padding-right: 0;

        /* Remove the 15px padding */
    }

    .col-left {
        clear: left;
    }
}


/* Content Columns */

.col2-set {
    width: 100%;

    .col-1,
    .col-2 {
        width: 50%;
    }

    .col-1 {
        float: left;
    }

    .col-2 {
        float: right;
    }

    @include bp(max-width, $screen-xs) {
        .col-1,
        .col-2 {
            float: none;
        }
    }


    .narrow {
        width: 33%;
    }

    .wide {
        width: 65%;
    }

    &:after {
        @include clearfix;
    }
}

/* -------------------------------------------- *
 * Top Container
 */
 
@include bp(min-width, $screen-sm + 1) {
    .top-container {
        max-width: $max-container-width;
        margin: 0 auto;
        padding: 0 $trim;
    }
}

.grid:after {
    @include clearfix;
}

@include bp(min-width, 915px) {

    .order-list-grid .col-1 {
        width: 30%;
    }

    .order-list-grid .col-2 {
        width: 50%;
        padding-right: 20px;
    }

    .order-list-grid .col-3 {
        clear: none;
        width: 20%;
        padding-top: 0;
    }

}