@include bp(max-width, $screen-md) {
    .col2-left-layout,
    .col2-right-layout,
    .col3-layout {
        .sorter,
        .pager {
            width: 100%;
        }

        .pager {
            float: left;
            clear: both;

            .pages {
                float: left;
                margin-left: 0;
            }
        }
    }

    .newsletter-block {
        margin-bottom: 25px;
    }

    .dg-header-actions {
        margin-top: 50px;
    }
}


@include bp(max-width, 1279px) {
    .toolbar .view-mode > label {
        display: none;
    }
}


@include bp(max-width, $screen-sm) {
    .col1-layout {
        .sorter,
        .pager {
            width: 100%;
        }

        .pager {
            float: left;
            clear: both;

            .pages {
                float: left;
                margin-left: 0;
            }

            .count-container {
                float: right;
            }
        }
    }

    .dg-header-actions {

        .block-welcome {
            text-align: center;
        }

        .contact-nav {
            display: none;

            // margin-top: 5px;

            // li {
            //     text-align: left;

            //     &:not(:last-child) {
            //         &:after {
            //             display: none;
            //         }
            //     }
            // }
        }
    }

    .dg-carousel-thumbnail {
        .owl-nav {
            left: 0;
            top: 50%;
            width: 100%;
            position: absolute;
            pointer-events: none;
            margin-top: calc(-45px/2);

            button {
                position: absolute;
                pointer-events: visible;
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }

    .dg-footer {
        .block-links {
            margin-bottom: 0;

            .block-title {
                padding-bottom: 10px;

                @include setTypography($f-size-s, $c-text);

                &.is-open {
                    strong {
                        &:after {
                            content: "\f068";
                        }
                    }
                }

                strong {
                    display: block;

                    &:after {
                        right: 10px;
                        content: "\f067";
                        position: absolute;
                        font-family: "fontAwesome";
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $c-gray-light;
                }
            }

            .block-content {
                display: none;
            }
        }
    }
}


@include bp(max-width, $screen-sm-max) {
    .product-view {
        .add-to-cart {
            width: 100%;
        }

        .add-to-cart-buttons {
            width: 100%;
            margin: 15px 0;
        }

        .product-name .h1 {
            display: none;
        }

        .product-name h1 {
            @include setTypography(32px);
        }
    }
}