/* ============================================ *
 * Print Styles
 * ============================================ */
 
.page-print {
    width: 6.5in;
    margin: 20px;
    background: #FFFFFF;
}

.page-print .print-head {
    margin: 0 0 15px;
}

.page-print .print-head .logo {
    float: none;
    max-height: 50px;
    width: auto;
}

