/* ============================================ *
 * Typography
 * ============================================ */

h2,
.h2 {
 	@include h2;
 }

// h1, .h1 {
//     @include h1;
// }

// h2, .h2 {
//     @include h2;
// }

// h3, .h3 {
//     @include h3;
// }

// h4, .h4 {
//     @include h4;
// }

// h5, .h5 {
//     @include h5;
// }

// h6, .h6 {
//     @include h6;
// }

/* -------------------------------------------- *
 * Page Titles
 -------------------------------------------- */

.page-title h1,
.page-title h2 {
    @include pageTitle;
}

.product-name h1,
.product-name .h1 {
	@include productTitle;
}