.customer-account-create {
    .account-create {
        p.required {
            margin: 15px 0;
            text-align: right;
        }

        .hidden {
            display: none;
        }

        .buttons-set {
            .back-link {
                padding: {
                    top: 5px;
                    bottom: 5px;
                };
                float: right;
            }
        }
    }

    #remember-me-popup {
        max-width: 455px;
    }
}