// /* -------------------------------------------- *
//  * Block Module
//  -------------------------------------------- */

.block-account,
.block-wishlist,
.block-viewed,
.block-reorder {
    .block-title {
        line-height: 22px;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $c-gray-light;
    }

    li.current {
        a {
            color: $c-secondary;
            border-left: 3px solid $c-secondary;
        }

        strong {
            font-weight: 500;
        }
    }

    .block-subtitle {
        @include setTypography($f-size-s, #2d2328, "", uppercase);
    }

    .block-content {
        padding: 20px;
    }

    .actions {
    	margin-top: 30px;
        @include dgClearfix;

        .button {
            margin-right: 10px;
        }

        a {
            text-decoration: underline;

            @include setTypography($f-size-s, "", bold);
        }
    }
}

// // .block,
// // .col-left-first {
// //     margin-bottom: 20px;
// // }

// // .col-left-first .block:last-of-type {
// //     margin-bottom: 0;
// // }

// .block-title {
//     // position: relative;
//     // padding: 10px 0 0;
//     // margin-bottom: 5px;
//     // border-top: 1px solid $c-module-border;

//     h2,
//     h3,
//     strong {
//         @include h4;

//         color: $c-text-primary;
//         margin-bottom: 0;
//         text-transform: uppercase;
//         font-weight: 600;
//     }

//     small {
//         font-size: 100%;
//         font-weight: normal;
//         color: $c-text-gray;
//     }
// }

// // On account pages, don't remove the top border in order to create separation between block and .block-account
// // body:not(.customer-account) .block:first-child .block-title {
// //     border-top: none;
// //     padding-top: 0;
// // }

// .block-subtitle {
//     // font-weight: bold;
//     // margin-bottom: $element-spacing;
// }

// .block-content {
//     margin-top: 5px;
// }

// .block-content.unpad {
//     padding: 0;
// }

// .block-content li.item {
//     margin: 0 0 $box-spacing 9px;
// }

// .block-content li.item:last-child {
//     margin-bottom: 0;
// }

// .block .actions {
//     margin: $box-spacing 0 0;

//     &:after {
//         @include clearfix;
//     }

//     a {
//         float: left;
//     }

//     .button {
//         float: right;
//     }
// }

// .col-left,
// .col-right {
//     // Align the vertical height of the anchor to line up with the button
//     .block .actions .button ~ a {
//         line-height: 33px;
//         margin-right: 5px;
//     }
// }

// @include bp(max-width, $screen-sm) {
//     .sidebar {
//         // Don't apply to layered nav, since it gets special treatment
//         .block:not(.block-layered-nav) {
//             margin-bottom: 0;

//             .block-title {
//                 padding: 0;
//                 margin-top: 0;
//                 border-bottom: none;
//                 border-top: none;
//                 margin-bottom: 0;

//                 > strong {
//                     @include accordionDtBase("right", $c-module-border);

//                     display: block;
//                     width: 100%;
//                     cursor: pointer;
//                     border-bottom: 0;
//                 }

//                 &.active {
//                     > strong {
//                         @include accordionDtBase("down", $c-module-border);
//                     }
//                 }
//             }

//             .block-content {
//                 padding: $box-spacing;
//                 margin-top: 0;
//                 border-width: 0 1px;
//                 border-style: solid;
//                 border-color: $c-module-border;
//             }
//         }

//         // This selector is highly fickle, because if a div gets added beneath the last normal block in a sidebar,
//         // it will break. However it is the simplest solution to applying this trivial style.
//         .block:last-of-type {
//             border-bottom: 1px solid $c-module-border;
//         }
//     }
// }

// /* -------------------------------------------- *
//  * Secondary Navigation
//  -------------------------------------------- */

// .block-account,
// .block-cms-menu {
//     .block-title {
//         padding-top: 0;
//         border-top: none;
//     }

//     li {
//         text-transform: uppercase;
//         font-family: $f-stack-special;
//         margin: 7px 0;

//         strong {
//             font-weight: 400;
//             color: $c-action;
//         }

//         a {
//             color: $c-text;

//             &:hover {
//                 color: $c-action;
//             }
//         }
//     }
// }