/* ============================================ *
 * My Account Global Styles
 * ============================================ */

.customer-account {
    .main-container {
        & > .container {
            .block {
                margin-bottom: 20px;

                .block-content {
                    background-color: $c-gray-soft;

                    > ul {
                        li {
                            a {
                                padding: 5px 20px;
                                display: block;
                                line-height: 24px;

                                &:hover {
                                    color: $c-secondary;
                                }
                            }
                        }
                    }
                }

                &.block-account {
                    .block-content {
                        padding: 10px 0 !important;
                    }
                }
            }
        }
    }

    .buttons-set {
        margin-top: 15px;
    }

    .buttons-set:not(.buttons-set2) {
        button.button {
            float: right;
        }
    }

    .my-account {
        .data-table {
            margin-top: 5px;
            margin-bottom: 10px;

            span.nobr {
                a {
                    white-space: nowrap;
                }
            }

            .separator {
                margin: {
                    right: 3px;
                    left: 3px;
                };
            }
        }

        .title-buttons {
            .separator {
                margin: 0 5px;
            }
        }

        .link-reorder {
            font-weight: bold;
        }

        .link-print {
            width: 16px;
            height: 16px;
            padding-left: 20px;
            background-repeat: no-repeat;
            background-image: url(../images/icons/print.gif);
        }

        .data-table th,
        .data-table td {
            padding: 10px 12px;
        }

        .data-table th {
            text-align: center;
        }

        .welcome-msg {
            p {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }

        .box-account {
            &.box-addresses {
                h4 {
                    margin-bottom: 10px;

                    @include setTypography($f-size-s, $c-black, 500);
                }

                address {
                    line-height: 1.6;
                }

                .box-content {
                    > div {
                        padding-top: 0;
                    }
                }
            }

            .box-title {
                @include dgClearfix;

                h3 {
                    float: left;
                    font-family: $f-stack-special;

                    @include setTypography($f-size-xxl, $c-primary, normal);
                }

                .btn-edit {
                    float: right;

                    @include setFontSize($f-size-xl);
                }
            }

            .btn-change {
                margin-top: 15px;
            }
        }

        .title-buttons {
            position: relative;
            text-align: right;

            h1 {
                text-align: left;
            }

            .order-buttons {
                right: 0;
                top: 17px;
                position: absolute;
            }

            .button {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .addresses-list {
            h3 {
                margin-bottom: 10px;

                @include blockTitle;
            }

            .addresses-additional,
            .addresses-primary {
                h2 {
                    margin-bottom: 10px;

                    @include setTypography($f-size, $c-gray, normal, uppercase);
                }
            }
        }

        .fieldset {
            margin-top: $trim;
            margin-bottom: $trim;
        }
    }

    .sidebar {
        .block {
            ol#compare-items {
                li {
                    margin: $box-spacing 0;
                }
            }

            .block-content {
                p.block-subtitle {
                    margin-bottom: $trim-small;
                }
            }
        }

        // ol#cart-sidebar-reorder {
        //     li {
        //         margin-top: $box-spacing;
        //         margin-bottom: 0;
        //     }

        //     p.product-name {
        //         display: inline-block;
        //         margin-bottom: 0;
        //     }
        // }

        .block-cart {
            .summary {
                // margin-bottom: $trim-small;
           
            }
        }

        .block-reorder {
            // ol#cart-sidebar-reorder {
            //     li {
            //         margin-top: $box-spacing;
            //         margin-bottom: 0;

            //         input {
            //             margin-right: 10px;
            //         }
            //     }

            //     p.product-name {
            //         display: inline;
            //         margin-bottom: 0;
            //     }
            // }
       
        }
    }
}

.form-list {
    .customer-dob {
        .dob-month,
        .dob-day {
            width: 55px;
            float: left;
            max-width: 25%;
            margin-right: $box-spacing;
        }

        .dob-year {
            float: left;
            width: 100px;
            max-width: 37%;
        }

        label {
            top: 5px;
            position: relative;
        }
    }
}

/* ============================================ *
 * Dashboard
 * ============================================ */

.dashboard {
    .box-head {
        margin: 25px 0;

        @include dgClearfix;

        h2 {
            float: left;
            font-family: $f-stack-special;

            @include setTypography($f-size, $c-black, 700, uppercase);
        }

        a {
            float: right;
        }
    }

    .box-account {
        margin-bottom: 45px;

        p {
            line-height: 1.6;
        }
    }

    .box-reviews {
        &.box-account {}

        li {
            padding: 15px;
            margin-bottom: 10px;
            background-color: $c-gray-ultra-light;

            .number {
                float: left;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin-right: 10px;
                text-align: center;
                background-color: $c-white;

                @include setProperty(border-radius, 60px);
                @include setTypography($f-size-s, $c-black, 600, uppercase);
            }

            .details {
                margin-left: 30px;

                h3 {
                    margin-bottom: 10px;

                    @include setTypography($f-size, $c-black, normal, uppercase);
                }

                .ratings {
                    margin-bottom: 0;

                    @include dgClearfix;

                    strong {
                        float: left;
                        line-height: 1.5;
                        margin-right: 5px;

                        @include setTypography($f-size-s, $c-black, 600, uppercase);
                    }

                    .rating-box {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* ============================================ *
 * Address Book
 * ============================================ */

.my-account {
    .box {
        padding: 20px;
        background-color: $c-gray-soft;

        .box-title {
            margin-bottom: 10px;
        }
    }

    .addresses-list {
        .col-1,
        .col-2 {
            padding-bottom: 0;
        }

        .item {
            margin: 0 0 $trim 0;

            p {
                margin-top: $box-spacing;
            }
        }

        @include bp(max-width, $screen-sm) {
            .customer-account {
                .sidebar.col-left-first {
                    margin-top: 25px;
                }
            }
        }


        @include bp(max-width, $bp-small) {
            .addresses-additional {
                p {
                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

/* ============================================ *
 * Order View
 * ============================================ */

.order-info {
    margin-bottom: 30px;

    dt,
    dd,
    ul,
    li {
        display: inline-block;
    }

    dt {
        margin-right: 5px;
    }

    li {
        margin-right: 10px;

        &.current {
            font-weight: 600;
        }
    }
}

.order-info-box {
    margin: 20px 0;

    .col-1 {
        width: 47%;
    }

    .col-2 {
        width: 47%;
    }

    .col-1,
    .col-2 {
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }

    .box-title {
        h2 {
            @include blockTitle;
        }
    }

    .box-content {
        float: left;

        td,
        th {
            line-height: 1.3;
        }

        th {
            padding-top: $box-spacing;
        }

        td {
            padding-left: $trim-small;
        }

        strong {
            font-weight: normal;
        }
    }
}

.order-details {
    h2 {
        @include blockTitle;
    }

    .product-name {
        @include setFontSize(14px);
    }

    .data-table {
        td {
            > span.price {
                font-weight: normal;
            }
        }
    }
}

#my-orders-table {
    .data-table {
        td {
            @include setFontSize(13px);
        }
    }

    .total {
        .price {
            font-weight: normal;
        }
    }

    .option-label {
        margin-left: $box-spacing;
        font-weight: 600;
        font-style: italic;
    }

    .option-value {
        margin-left: $box-spacing * 2;
    }

    tr.bundle:not(:last-child) td {
        border-bottom: none;
        border-top: none;
    }
}

ol#cart-sidebar-reorder {
    li {
        margin-top: 10px;

        input {
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    p.product-name {
        display: inline-block;
    }
}

@include bp(max-width, $bp-small) {
    #my-orders-table {
        .option-label {
            margin-left: 20px;
        }

        .option-value {
            margin-left: 35px;
        }

        td[data-rwd-label=Qty] .nobr {
            br {
                display: none;
            }

            strong {
                margin-right: $box-spacing;
            }
        }

        tr.bundle {
            border-color: $c-module-border-light;
        }

        tr.bundle.child {
            td[data-rwd-label] {
                padding-left: 60px;
            }
        }

        tbody:last-child tr:last-child {
            td {
                padding-bottom: 10px;
                border-bottom: 0;

                &:last-child {
                    padding-bottom: $trim-small;
                }
            }
        }

        tfoot tr.shipping {
            margin-top: 0;
        }
    }
}


.order-additional {
    margin: 40px 0;
}

.order-gift-message {
    dd {
        margin-top: $box-spacing;
    }
}

@include bp(max-width, $screen-lg) {
    .customer-account {
        .my-account {
            .title-buttons {
                .order-buttons {
                    display: none;
                }
            }
        }

        .data-table {
            td.view a {
                white-space: normal;
            }
        }
    }
}


@include bp(max-width, $screen-md) {
    .customer-account {
        .my-account {
            .title-buttons {
                text-align: left;

                span.separator,
                a {
                    top: -12px;
                }
            }
        }
    }
}


@include bp(max-width, $screen-sm) {
    .customer-account {
        .main-container {
            & > .container {
                .block {
                    .block-title {
                        line-height: 1;
                        margin-bottom: 8px;
                        padding-bottom: 8px;

                        &:before {
                            float: right;
                            content: "\f067";
                            font-family: "fontAwesome";

                            @include setFontSize(16px);
                        }

                        &.active {
                            &:before {
                                content: "\f068";
                            }
                        }
                    }
                }
            }
        }
    }

    .order-info-box {
        .box-content {
            clear: left;
        }
    }

    .addresses-list {
        .item {
            float: left;
            width: 50%;
            padding-right: $trim;
        }
    }

    .order-info {
        dt {
            display: none;
        }
    }

    .dashboard {
        .page-title {
            margin-top: 20px;

            h1 {
                margin-top: 0;
            }
        }

        .box-account {
            padding-bottom: $trim-small;
            margin-bottom: $trim;
        }

        .col2-set {
            .col-1,
            .col-2 {
                width: 48%;
                padding-right: 0;
                padding-left: 0;
            }

            .col-1 {
                float: left;
                margin-right: 4%;
            }

            .col-2 {
                float: right;
            }
        }
    }
}


@include bp(max-width, $bp-small) {
    .customer-account {
        .my-account {
            .form-list {
                .control {
                    padding-left: 0;
                }
            }
        }
    }
}


@include bp(max-width, $screen-xs) {
    .customer-account {
        .my-account {
            .data-table {
                border: 1px solid $c-table-border;

                thead {
                    display: none;
                }

                tr {
                    display: block;
                    border-bottom: 1px solid $c-table-border;
                }

                tr.last {
                    border-bottom: 0;
                }

                td {
                    border: 0;
                    display: block;
                }
            }

            #my-orders-table {
                td {
                    padding: 10px 10px 0 10px;
                }

                td.last {
                    text-align: left;
                    padding-bottom: 10px;
                }
            }

            .title-buttons {
                text-align: center;

                .button {
                    width: 100%;
                    position: static;
                    margin-bottom: $trim-small;

                    + .button {
                        margin-left: 0px;
                    }
                }
            }

            .fieldset {
                h2 {
                    margin-bottom: $trim-small;
                }
            }

            .order-details h2 {
                margin-bottom: $trim-small;
            }

            .buttons-set {
                border-top: 0;
            }

            .addresses-list {
                .item {
                    margin-bottom: $trim-small;
                    padding-right: 0;
                    float: none;
                    width: auto;
                }

                h2 {
                    margin-bottom: $trim-small;
                }
            }
        }
    }

    .order-info {
        margin-top: $trim-small;
    }

    .data-table {
        &.orders {
            td.view {
                text-align: right;
            }
        }
    }

    .dashboard {
        .col2-set {
            .col-1,
            .col-2 {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .order-info-box {
        margin: 0;

        .col-1,
        .col-2 {
            width: 100%;
            border-bottom: 1px solid $c-module-border-light;
            padding: $trim-small 0;
        }

        + .order-info-box {
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: $trim;
        }
    }

    #my-reviews-table {
        .nobr {
            white-space: normal;
        }
    }
}


/* ============================================ *
 * Newsletter Subscriptions
 * ============================================ */

body.newsletter-manage-index .my-account {
    .fieldset {
        margin-bottom: 20px;
    }

    .fieldset h2 {
        display: none;
    }

    .form-list {
        padding: 3px 15px 0;
        background-color: $c-gray-soft;
    }
}