/* ============================================ *
 * Mini Product List
 * ============================================ */

.mini-products-list {
    li {
        position: relative;

        @include dgClearfix;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .product-image {
        float: left;
        margin-right: 15px;
    }

    .product-details {
        width: 55%;
        float: left;
        position: relative;

        .product-name {
            text-align: left;

            a {
                font-family: $f-stack-special;

                @include dgClearfix;
                @include setTypography($f-size, $c-text);
            }
        }

        .price {
            color: $c-primary;
        }
    }
}

.mini-products-images-list {
    @include dgClearfix;

    li.item {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0 5px 10px 0;

        &:nth-child(even) {
            padding-right: 0;
            padding-left: 5px;
        }

        .product-image {
            display: block;

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

/* ============================================ *
 * Mini Product List - Recently viewed items
 * ============================================ */
.block-viewed,
.block-wishlist,
.block-reorder {
    .mini-products-list {
        > li {
            padding: 15px;
            margin-bottom: 10px;

            > a,
            .product-image {
                float: left;
                width: 50px;
                margin-right: 15px;
            }

            .product-details {
                float: left;
                width: 70%;
            }
        }
    }
}
