/* -------------------------------------------- *
 * Price Box - Standard
 -------------------------------------------- */

.price-box {

    height: 45px;
    margin: 10px 0;
    overflow: hidden;
    font-family: $f-stack-special;

    .price {
        font-family: $f-stack-special;
    }

    .price-from,
    .price-to {
        @include centerContent;
    }

    .price-from {
        padding-left: 10px;

        .price {
            line-height: 1;
            text-decoration: line-through;
            @include setTypography(12px, $c-text, normal);
        }  
    }

    .price-to {
        .old-price {
            margin: 5px 0;
        }
        
        .price {
            @include setTypography(20px, $c-black, 500);
        }
    }    
}

.price-box.map-info {
    .old-price {
        .price {
           @include setTypography(12px, $c-text, normal);
        }
    }

    .map-link {
        float: right;
        margin-top: 5px;
    }
}

.price-notice {
    color: $c-text-gray;
}

.price-box .regular-price {
    display: block;

    .price {
        line-height: 40px;
        @include setTypography(18px, $c-black, 500);
    }
}

.price {
    font-weight: 600;
    font-family: $f-stack-special;
}

.price-box .price-label {
    white-space: nowrap;
    @include setTypography($f-size-xs, $c-black, 700);
}

.price-box .minimal-price-link {
    color: $c-text;
    display: none;

    /* We want this to show on its own line, otherwise the layout looks funky */

    .label {
        color: $c-text-gray;
    }
}

/* -------------------------------------------- *
 * Price Box - Special
 -------------------------------------------- */

.price-box .old-price,
.price-box .special-price {
    display: inline-block;

    .price-label {
        display: none;
    }

    .price {
        display: inline-block;
    }
}

.price-box .old-price {
    .price {
        color: $c-text-gray;
        text-decoration: line-through;
    }
}

.price-box .special-price {
    display: block;

    .price-label {
        color: #D84D3C;
    }

    .price {
        @include setTypography(22px, $c-primary, 700);
    }
}

/* -------------------------------------------- *
 * Price Box - Taxes
 -------------------------------------------- */

.price-box .price-excluding-tax,
.price-box .price-including-tax {
    display: block;
}

span.weee {
    display: block;
}