input.input-text, textarea, select {
    font: 400 13px/1.33 'Open Sans', sans-serif;
    display: inline-block;
    padding: 4px;
    margin: 0;
    background-color: #fff;
    height: 28px;
    color: #676056;
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}


input.input-text:hover,
textarea:hover,
select:hover,
input.input-text:focus,
textarea:focus,
select:focus {
    background-color: #f5f5f5;
    border-color: rgba(0, 178, 119, 1.8)
}

input {
    vertical-align: middle;
}

select.multiselect option {
    padding: 5px;
}

input[type=text].disabled,
input[type=text]:disabled,
textarea:disabled,
textarea.disabled,
select.disabled,
select:disabled {
    cursor: not-allowed;
    background: #eee;
}

input[type=text].disabled:focus,
input[type=text]:disabled:hover,
textarea:disabled:focus,
textarea.disabled:hover,
select.disabled:focus,
select:disabled:hover {
    border-color: #eee;
}

select option:disabled, select:disabled option {
    color: #ccc !important;  
}

.form-list td.label label {
    padding: 5px 15px 0 0;
}

.form-list td.label, .form-list td.label label {
    font-size: 13px;
    font-weight: 600;
    color: #676056;
}

.form-list td.scope-label {
    color: #999;
    font-size: 12px;
}

.form-list td.value {
    padding-left: 0 !important;
}

.form-list td.value p.note {
    color: #676056;
    font-size: 12px;
    font-weight: 400;
}

.form-list td.value input.input-text, .form-list td.value textarea {
    width: 324px;
}

.form-list td.value select {
    width: 330px;
}

select {
    height: 30px;
    padding: 4px 4px 5px;
    margin: 0 0 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

select optgroup {
    font-weight: 600;
}

select[multiple], select[size] {
    height: auto;
}

button, select {
    text-transform: none;
}

select, textarea {
    margin: 0;
    border-radius: 2px;
}

button span {
    padding: 0;
}

button,
input[type="submit"],
input[type="button"] {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

button.cancel span, button.delete span, button.save span,
button.ok_button span, button.add span, button.back span,
button.add-image span, button.add-widget span, button.go span,
button.add-variable span {
    background: none;
    padding: 0;
}

button, .form-button {
    border-radius: 2px;
    background-image: none;
    background-color: #00b277;
    padding: 4px 15px;
    color: #fff;
    border: 3px solid #00b277;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    text-transform: uppercase;
}

button:focus,
button:active,
.form-button:focus,
.form-button:active {
    /*background-color: #fff;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #cac3b4;*/
}

button:hover,
.form-button:hover {
    color: #fff;
    background: #067c55;
    border-color: #067c55;
    /*background: #fff;
    color: #beb8a9;*/
}

button.disabled,
button[disabled],
.form-button.disabled,
.form-button[disabled]
fieldset[disabled] button {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

button.save,
button.add,
button.ok_button,
.form-button.ok_button {
    background-image: none;
    background-color: #00b277;
    padding: 4px 15px;
    color: #fff;
    border: 3px solid #00b277;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    text-transform: uppercase;
}

button.save:focus, button.save:active,
button.add:focus, button.add:active,
button.ok_button:focus, button.ok_button:active,
.form-button.ok_button:focus, .form-button.ok_button:active   {
    background-color: transparent;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #00b277;
}

button.save:hover,
button.add:hover,
button.ok_button:hover,
.form-button.ok_button:hover  {
    background-color: transparent;
    color: #00b277;
}

button.save.disabled, button.save[disabled], fieldset[disabled] button.save,
button.add.disabled, button.add[disabled], fieldset[disabled] button.add,
button.ok_button.disabled, button.ok_button[disabled], fieldset[disabled] button.ok_button {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

button.add.disabled span {
    background: none;
}

button.delete, button.cancel, button.fail, button.cancel_button {
    background: #e74747;
    border: 3px solid #e74747;
    color: #fff;
}

button.delete:hover, button.cancel:hover, button.fail:hover, button.cancel_button:hover {
    background: transparent;
    color: #d24403;
}

button.delete, button.save, button.add, button.cancel, button.fail, button.ok_button, button.cancel_button {
    padding: 4px 15px;
}

button.back {
    background: none;
    border: 0;
}

button.back:before {
    content: "\00ab";
    padding-right: 4px;
}

button.disabled, button.disabled:hover, button.disabled:active {
    background: #919191;
}

button.back:hover {
    background: none;
    color: #31302b;
}

button.icon-btn {
    width: auto !important;
}

button.icon-btn span {
    text-indent: 0;
    width: auto;
    display: inline;
}

button.large,
.form-button.large {
    font-size: 20px;
    padding: 10px 25px;

    w
}

.input-text.large {
    padding: 12px 12px 14px;
    font-size: 18px;
}

.field-100 {
    background: none;
    border: 0;
    padding: 0;
}

.field-100 textarea, .field-100 input.input-text {
    float: none;
    border: 1px solid #ccc !important;
    padding: 4px !important;
}