body, .popup-window .content-header {
    /*color: #777;*/
    color: #777;
    font: 400 13px/1.33 'Open Sans', sans-serif;
    background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6, label {
    color: #777;
    font-weight: 400;
}

a {
    display: inline;
    color: #00b277;
    text-decoration: none;
}

a,
button {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

a:visited {
    color: #00b277;
}

a:focus, a:hover, a:active {
    color: #038257;
    text-decoration: none;
}

strong, b, .bold {
    font-weight: 600 !important;
}

small {
    font-size: 12px;
    color: #777;
}

.header-top, #nav, .middle, .footer-content, .content-header-floating .content-header {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 960px;
    max-width: 1600px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.header-right {
    color: #777;
    padding-top: 15px;
}

.header-right a,
.header-right a:hover {
    color: #00b277;
}

.header-right .super {
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 5px;
}

.header-right .separator {
    color: #fff;
}

.header-right fieldset input.input-text {
    border: 0;
    width: 20em;
    height: auto;
    padding: 10px;
}

.wrapper > .middle {
    margin-top: 45px;
}

.middle {
    background: #f6f6f6;
}

.content-header, .content-header h3 {
    border: 0;
    color: #1aba85;
    font-size: 28px;
    font-weight: 400;
}

.dashboard-container {
    border: none;
}

.columns {
    background: none;
}

.switcher {
    background: #ededed;
    padding: 15px;
    border: 0;
    color: #777;
}

.price {
    color: #00b277;
}

.adminhtml-dashboard-index p.switcher {
    width: 100%;
    display: table;
}

.adminhtml-dashboard-index p.switcher label {
    width: 9%;
    display: table-cell;
    vertical-align: middle;
}

.adminhtml-dashboard-index p.switcher select {
    margin-right: 10px;
}

.switcher label {
    color: #777;
}

.entry-edit {
    margin-top: 10px;
}

.entry-edit .entry-edit-head h4 {
    color: #777;
    line-height: 32px;
    font-size: 16px;
}

dl.accordion dt, .entry-edit .entry-edit-head {
    background: #ededed;
    color: #777;
    padding: 8px 16px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

/*dl.accordion dt:hover,
.entry-edit .entry-edit-head:hover {
    background: #e9e5dd;
}*/

.entry-edit .entry-edit-head .tools {
    line-height: 32px;
}

.entry-edit .entry-edit-head .tools a:hover {
    text-decoration: none;
}

.box, .entry-edit fieldset, .entry-edit .fieldset {
    border: 0;
    background: #fff;
}

.grid table {
    border: 0;
}

.grid table.border {
    border: 0;
}

.grid table.border td {
    background: #fafafa !important;
}

.grid table tr:last-child td {
    border-bottom: 0;
}

.grid table td {
    border: solid #c0bbaf;
    background: #fff;
    border-width: 0 1px 1px 0;
    padding: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.grid table tfoot tr td {
    border: 0;
    background: #fff;
}

.grid table.border tfoot tr td, .grid tr.filter {
    background: #ededed !important;
}

.grid tr.filter .range .range-line {
    width: 120px;
}

.grid tr.filter .range .label {
    font-weight: 600;
    width: 40px;
    padding: 4px;
}

.grid tr.filter .range select {
    width: 66px !important;
}

.grid tr.filter .date img {
    padding: 4px;
}

.grid table tbody tr.selected td,
.grid table tbody tr:hover td,
.grid table tbody tr:nth-child(odd):hover td {
    background: #dcdcdc;
}

.grid tr.headings {
    background: #292929;
}

.grid tr.headings th {
    border: 0;
    padding: 10px;
    font-size: 13px;
    vertical-align: middle;
}

.grid tr.headings th, .grid tr.headings th a {
    color: #fff;
    font-weight: 400;
}

.grid tr.headings th a:hover {
    color: #cac3b4;
}

.grid tr.headings th.no-link {
    color: #fff;
    padding: 10px;
}

.grid tr.even td, .grid tr.even tr td {
    background: #ebebeb;
}

.grid tr.headings th a.sort-arrow-desc,
.grid tr.headings th a.sort-arrow-asc {
    background: #3f3e37;
    border: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #00b277;
    border-radius: 2px;
    position: relative;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title,
.grid tr.headings th a.sort-arrow-asc span.sort-title {
    background: none;
    padding: 5px 15px;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title:after,
.grid tr.headings th a.sort-arrow-asc span.sort-title:after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
}

.grid tr.headings th a.sort-arrow-asc span.sort-title:after {
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #00b277 transparent;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title:after {
    border-width: 6px 5px 0 5px;
    border-color: #00b277 transparent transparent transparent;
}

.grid tbody.even tr td {
    background: #e6e3de !important;
}

.grid tbody.odd tr td {
    background: #fff !important;
}

table tbody tr:not(:last-child) td {
    border-top: 0;
    border-bottom: 0;
}

table tbody tr td:last-child {
    border-right: 0;
}

.header {
    /*background: #00b277;*/
    /*background: #2f3292;*/
    background: #fff;
}

.header-top {
    border: 0;
    padding: 20px 0 25px;
}

.header-top .logo {
    margin: 0;
    height: 66px;
}

.footer {
    background: #ededed;
    padding: 2.8em 0;
    margin-top: 30px;
}

.footer .bug-report {
    width: 50%;
    display:table;
}

.footer .bug-report p {
    margin-right: 15px;
    display: table-cell;
    vertical-align: middle;
}

.footer .bug-report select {
    margin-left: 5px;
}

.footer .developed-by {
    width: 50%;
    float: right;
}

ul.tabs-horiz {
    background: none;
    margin: 0;
    padding: 0;
}

ul.tabs-horiz li {
    border: none;
    margin: 0 10px 0 0;
}

ul.tabs-horiz li a {
    background: #ededed;
    color: #777 !important;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 15px;
    border-radius: 2px 2px 0 0;
    border: 0;
}

ul.tabs-horiz li a:hover,
ul.tabs-horiz li a.active {
    border: 0;
    color: #fff !important;
    background: #00b277 !important;
}

#grid_tab_content {
    background: #fff;
    padding: 15px;
}

.nav-bar {
    background: #777;
    border: 0;
}

ul.config-tabs dt {
    color: #777;

    /*color: #524c44;*/
    background: #ededed;
    border: 0;
    font-weight: 600;
    text-transform: none;
    padding: 10px;
    font-size: 16px;
}

ul.tabs {
    background: none;
    color: #777;
    border: 0;
}

ul.tabs dl {
    background: #fff;
}

ul.tabs a {
    background: #fff;
    color: #777;
    padding: 8px 18px;
    border-bottom: 1px solid #f1f1f1;
}

ul.tabs a.active, ul.tabs a:hover {
    background: #00b277;
    color: #fff;
}

ul.tabs a.active {
    padding: 8px 18px;
    background: #00b277;

    /*background: #cac3b4;*/
    border-bottom: 1px solid #f1f1f1;
}

ul.tabs a:hover.active {
    padding: 8px 18px;
}

ul.tabs span, ul.tabs a.active span {
    background: none;
    padding: 0;
}

ul.tabs span, ul.tabs a.active span, ul.tabs a.active span, ul.tabs a:hover.active span {
    background: none;
    font-weight: 400;
}

ul.tabs a.active:before {
    color: #bdbbb7;
    margin-top: -13px;
    z-index: 3;
}

ul.config-tabs dt {
    border-top: 0;
}

dl.accordion dt, div.collapseable {
    margin-top: 10px;
}

dl.accordion dt a,
div.collapseable a,
.entry-edit .entry-edit-head strong,
.entry-edit .entry-edit-head a,
dl.accordion dt a:hover,
div.collapseable a:hover,
dl.accordion dt.open a,
div.collapseable a.open {
    color: #777;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

dl.accordion dt a,
div.collapseable a {
    position: relative;
    background: none;
}

dl.accordion dt a:after,
div.collapseable a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #524c44 transparent transparent transparent;
}

dl.accordion dt.open a,
div.collapseable a.open {
    background: none;
}

dl.accordion dt.open a:after,
div.collapseable a.open:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #524c44 transparent;
}

.section-config .config-advanced > .entry-edit-head.collapseable a:after,
.section-config .config-advanced > .entry-edit-head.collapseable a.open:after {
    border: none;
}

table.actions {
    padding: 15px;
    background: #ededed;
}

table.actions td {
    vertical-align: middle;
}

.emph, .accent {
    color: #00b277;
}

.massaction {
    border: 0;

    /*background: #f6f3ec;*/
}

.massaction td {
    border-top: 0;
    padding: 10px;
}

.massaction .entry-edit .field-row label {
    vertical-align: middle;
}

.head-products, .icon-head {
    background-position: left center;
}

.x-tree-node a, .x-dd-drag-ghost a {
    font-size: 13px;
}

.x-tree-node a span, .x-dd-drag-ghost a span {
    color: #777;
}

.x-tree-node .x-tree-selected a span {
    background: #ededed;
    color: #777;
}

.no-active-category a span {
    color: #999 !important;
}

.categories-side-col .tree-holder, .categories-side-col .tree-actions {
    margin-right: 0;
}

.content-header-floating {
    background: #fff;
    opacity: .9;
}

.content-header-floating h3 {
    font-size: 18px;
}

.content-header-floating td {
    padding-right: 0;
}

.content-header h3 {
    margin: .3em;
    line-height: 32px;
}

#loading-mask {
    background: rgba(49, 48, 43, 0.4);
    z-index: 999;
    color: #292929;
    opacity: 1;
}

#loading-mask .loader {
    width: 160px;
    border: 0;
    border-radius: 2px;
    opacity: .95;
    color: #5e5b56;
    background: #f6f6f6;
    font-weight: 600;
}

.error, a.error span, .required, .validation-advice {
    color: #FA4545 !important;
}

.content-header-floating {
    border-bottom: solid 1px #bdbdbd;
}

.content-header-floating .form-buttons {
    padding-right: 0;
}

.order-totals {
    background: #fff;
    border: 0 !important;
}

.order-choose-address, .order-save-in-address-book {
    background: #fff;
}

.messages li {
    font-weight: 400  !important;
    font-size: 13px !important;
    padding: 10px 26px 10px 35px !important;
    min-height: inherit !important;
}

.messages ul li {
    margin: 0 !important;
}

.notice-msg, .error-msg, .success-msg, .warning-msg {
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px 26px 10px 35px;
    position: relative;
    text-shadow: none;
}

.notice-msg {
    background-image: url(images/icon-notice.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #f9f5ec !important;
    background-position: 8px center !important;
    border: 1px solid #dfc97a !important;
    color: #777 !important;
}

.error-msg {
    background-image: url(images/icon-error.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #f3dcd8 !important;
    background-position: 8px center !important;
    border: 1px solid #963535 !important;
    color: #963535 !important;
}

.success-msg {
    background-image: url(images/icon-success.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #e4eecb !important;
    background-position: 8px center !important;
    border: 1px solid #ceceb6 !important;
    color: #185b00 !important;
}

.warning-msg {
    background-image: url(images/icon-notice.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #fffbf0 !important;
    background-position: 8px center !important;
    border: 1px solid #d87e34 !important;
    color: #777 !important;
}

.links-feed {
    margin-top: 10px;
}

.link-feed {
    margin-right: 20px;
    font-size: .9em;
    text-decoration: none;
}

.options-box .option-header {
    background: none;
    border: 0;
}

.options-box .option-title {
    border-bottom: 1px solid #bebebe;
}

.options-box .option-box {
    background: #fff;
    border: 0;
}

.dialog table.table_window {
    background: #292929;
    border: 0;
}

.dialog table.table_window td, .dialog table.table_window th {
    padding: 6px 0;
    vertical-align: middle;
}

.dialog table.table_window .fieldset td {
    vertical-align: top;
}

/* Login */
#page-login {
    opacity: 0.9;
    background: url(images/login-form-bg.jpg) no-repeat;
    background-size: cover;
}

.login-container {
    top: 50%;
    left: 50%;
    width: 360px;
    padding: 20px;
    margin-top: calc(-450px/2);
    margin-left: calc(-400px/2);
    background: #f6f6f6;
    position: absolute;
}

.login-container.forgot-password {
    width: 500px;
}

.login-form {
    padding: 20px 20px 10px;
    border-radius: 5px;
    background: none;
}

.login-form h2 {
    display: none;
}

.login-form .input-box {
    margin-top: 12px;
}

.login-container .legal {
    font-size: 10px;
    background: none;
}

.login-form label {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
}

.login-form .input-box input.input-text {
    height: auto;
    width: 100%;
    font-size: 14px;
    color: #777;
}

.login-form .form-buttons {
    text-align: left;
    margin: 12px 0;
}

.login-form .form-buttons .form-button {
    width: 100%;
}

.login-form .form-buttons .form-button:hover,
.login-form .form-buttons .form-button:focus,
.login-form .form-buttons .form-button:visited {
    background: #028459;
    border-color: #028459;
    color: #fff;
}

.login-form .logo {
    float: none;
    height: auto;
    text-align: center;
    margin: 0 0 25px;
}

.login-form .messages ul li {
    text-align: center;
}

.developed-by {
    width: 95%;
    display: table;
    text-align: right;
}

.developed-by strong {
    color: #e74747;
}

.developed-by span,
.developed-by a {
    display: table-cell;
    vertical-align: middle;
}

.developed-by span {
    font-size: 12px;
    padding-right: 10px;
}

.developed-by a {
    width: 100px;
}

.developed-by a:hover {
    opacity: .75;
}


/* Autocomplete */
div.autocomplete {
    border: 0;
    box-shadow: 0 3px 3px rgba(50, 50, 50, 0.15);
}

div.autocomplete ul li {
    color: #777;
}

div.autocomplete ul li.selected {
    background: #ededed;
}

.pp-method-general > .config-heading .button-container {
    height: auto;
    padding-top: 0;
}

.config-heading {
    background: none;
    border: 0;
    margin: 4px 0 0;
}

.config-heading .button span {
    font-size: 13px;
    font-weight: 400;
    text-shadow: none;
}

.section-config .section-config > .config {
    border: 0;
}

.section-config .section-config .section-config > .config,
.section-config .section-config .section-config .section-config .section-config > .config {
    background: #f8f8f8;
}

.section-config .section-config .section-config .section-config > .config {
    background: #fefefe;
}

.section-config .config-advanced > .config {
    padding: 10px;
}

.section-config .config-advanced > .entry-edit-head {
    border: 0;
    font-size: 13px;
    box-shadow: none;
}

.section-config .config-advanced > .entry-edit-head a:after {
    top: 5px;
}

.section-config .section-config > .entry-edit-head {
    border: 0;
    margin-top: 1px;
}

.section-config .section-config > .entry-edit-head > a {
    background: none;
    color: #777;
    font-size: 13px;
    border: 0;
}

.with-button {
    background: #f1f1f1;
}

.with-button.active:after {
    background: none;
    margin: 0;
    display: none;
}

#payment_pphs_settings_advanced-head,
#payment_settings_payments_standart_advanced-head,
#payment_settings_ec_advanced-head {
    margin-bottom: 10px;
}

.wrapper-popup .content-header table {
    width: 90%;
}

.tier .data {
    width: 550px;
}

.tier .data select {
    width: auto;
}

.tier .data input.qty {
    width: 50px !important;
}

.grid-severity-notice, .grid-severity-critical,
.grid-severity-major, .grid-severity-minor {
    background: none;
    padding: 0;
}

.grid-severity-notice span, .grid-severity-critical span,
.grid-severity-major span, .grid-severity-minor span {
    font: 400 13px/1.33 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
}

.grid-severity-notice span {
    border: 1px solid #36ca64;
    background: #36ca64;
    color: #fff;
}

.grid-severity-critical span {
    border: 1px solid #e13232;
    background: #e13232;
    color: #fff;
}

.grid-severity-major span, .grid-severity-minor span {
    border: 1px solid #fb9936;
    background: #fb9936;
    color: #fff;
}

.custom-options .box {
    overflow: auto;
}

.custom-options .option-box {
    border: 0;
    background: #fff;
}

.custom-options .option-box .border {
    width: 700px;
}

.custom-options .option-header {
    background: #fff;
    border-bottom-color: #fff;
}

#address_form_container {
    margin-top: 0;
}

.sub-btn-set {
    border: 0;
    padding: 6px 10px;
}

.address-list li.on {
    background: #fff;
}

.demo-notice {
    background: #c14800;
}

.no-display {
    display: none !important;
}

#message-popup-window-mask {
    background-color: #292929;
}

.message-popup .message-popup-head {
    padding: 4px 0;
}

.message-popup .message-popup-content .read-more a {
    background: none;
    text-decoration: none;
}

.popup-window .content-header {
    background: none;
}

.popup-window .content-header h3 {
    color: #00b277;
}

.magento_w, .magento_e, .magento_content {
    background: #f6f6f6 !important;
}

.popup-window #contents-uploader {
    background: #ececec;
    padding: 10px;
}

.popup-window .middle {
    min-width: auto;
}

.rule-param .label:hover {
    color: #292929;
}