<?php  $_order = $this->getOrder() ?>
<?php  if($_order): ?>
<div class="details-success-moip"> 
	<?php if($_order->getShippingDescription()): ?>
		<div class="col-lg-4">
				<div class="block">
		            <div class="block-title">
		            	<span class="icon-success-page"><i class="fa fa-home" aria-hidden="true"></i></span>
		                <h2 class="h2"><?php echo $this->__('Endereço de <strong>Entrega</strong>') ?></h2>
		            </div>
		            <div class="block-content">
		                <div class="address-info">
							<?php echo $_order->getShippingAddress()->format('text'); ?>
		                </div>
		            </div>
				</div>
		</div>
		<div class="col-lg-4">
				<div class="block">
		            <div class="block-title">
		            	<span class="icon-success-page"><i class="fa fa-truck" aria-hidden="true"></i></span>
		                <h2 class="h2"><?php echo $this->__('Dados de <strong>Entrega</strong>') ?></h2>
		            </div>
		            <div class="block-content">
		                <div class="info-success">
		                	<?php $title =  $_order->getShippingDescription() ?>
					               <?php $new_title = explode('-', $title, 2); ?>

					               <h3 class="h3"><?php echo $new_title[0] ?></h3>
					              

					               <?php if($new_title[1]): ?>
					               	<div class="strong"><?php echo $new_title[1] ?></div>
					               <?php endif; ?>
							
							<div >
								- O prazo começa a valer após a postagem que ocorrá após a aprovação do pedido.
							</div>
		                </div>
		            </div>
				</div>
		</div>
	<?php endif; ?>
		<div class="col-lg-4">
				<div class="block">
		            <div class="block-title">
		            	<span class="icon-success-page"><?php echo $this->getIconPgto($_order->getPayment()->getmethod()); ?></span> 
		                <h2 class="h2"><?php echo $this->__('Opção de <strong>Pagamento</strong>') ?></h2>
		            </div>
		            <div class="block-content">
		                <div class="info-success">
							<div>

								<?php
									if($_order->getPayment()->getmethod() == "BoletoBancario_standard"){

										/** INCIO GERAR BOLETO SE BOLETO */
										$orderId = $_order->getId();	
										//echo $_order->getId() . "ffdsf";									
										?>
										
										<center>
										<a href="<?php echo $this->getUrl('BoletoBancario/standard/view/order_id/' . $orderId) ?>" target="_blank"><span><span><?php echo $this->__('Clique aqui para imprimir o Boleto') ?></span></span><img src="<?php echo $this->getSkinUrl('images/boleto/boleto.gif') ?>" /></a>
										</center>
								<?php		
									}else{

										echo $this->getPaymentInfoHtml(); 
									}
								?>
								<?php //echo $this->getPaymentInfoHtml(); ?></div>
		                </div>
		            </div>
				</div>
		</div>
</div>
<div class="clearfix"></div>
<hr class="line-division">
<div class="clearfix"></div>
<div class="col-lg-12">
	<div>
		<table class="data-table cart-table-items" id="checkout-review-table">
		    <thead>
		        <tr>
		            <th class="a-left"><?php echo $this->__('Product Name') ?></th>
		            <th class="a-center"><?php echo $this->__('Preço Unit.') ?></th>
		            <th class="a-center"><?php echo $this->__('Qty') ?></th>
		            <th class="a-center"><?php echo $this->__('Subtotal') ?></th>
		        </tr>
		    </thead>
		    <tfoot>
		        <?php echo $this->getChildHtml('order_totals') ?>
		    </tfoot>
		        <?php $_items = $_order->getItemsCollection(); ?>
		        <?php $_index = 0; ?>
		        <?php $_count = $_items->count(); ?>
		        <?php foreach ($_items as $_item): ?>
			        <?php if ($_item->getParentItem()) continue; ?>
			        	<tbody>
			            	<?php echo $this->getItemHtml($_item) ?>
			        	</tbody>
		        <?php endforeach; ?>
		</table>
	</div>
</div>
<script type="text/javascript">
	decorateTable('checkout-review-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']});
</script>
<?php endif; ?>